<div class="container-fluid">
  <!-- logo -->
  <div class="row">
    <div id="header">
      <div class="logo">
        <a href="http://www.iata.org/">
          <img src="../assets/SNAPDocroot//portal/images/logo_app.gif" border="0" title="International Air Transport Association">
        </a>
      </div>
      <div class="logoprint">
        <img src="../assets/SNAPDocroot//portal/images/logo_print.gif">
      </div>
    </div>
  </div>
  <!-- logo -->

  <h2>Let's do something on app 2.0</h2>

  <main class="col-10 offset-1">
    <router-outlet>
      <!--<app-account></app-account>-->
    </router-outlet>
  </main>


  <!-- foot -->
  <div id="footer" class="row">
    <div class="col-4 "></div>
    <h6>Bin v5.2 of 04.01.2007 &copy;2005 International Air Transport Association. All rights reserved.</h6>
  </div>
  <!-- foot -->
</div>

